:root {
  --c-brand: #6243bd !important;
  --c-brand-light: #7f64d1 !important;
  --c-tip: var(--c-brand) !important;
}

.home .hero .description {
  max-width: 45rem;
}

.home .hero .action-button {
  font-size: 1rem;
}
